
.container{
    font-family: 'Poppins', sans-serif;
}

h1{
    /* font-family: 'Playfair Display', serif; */
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

.audio-waveform {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    position: relative;
}

h5{
    color:rgb(31, 31, 31);
}
